* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
    font-family: "Barlow Condensed";
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-weight: 400;
    font-family: "Barlow Condensed";
}

a{
	color: #1C2C40;
    font-family: "Barlow Condensed";

}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-weight: 400;
    font-family: "Barlow Condensed";
}
.hidden{
	display: none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1240px;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


header { 
    padding: 20px 0;
    border-bottom: 1px solid #cccbcb;
}

header .content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .content div.left { 
    display: flex;
    align-items: center;
}

header .content .left { 
    display: block;
    width: 100%;
}
header .content .left h1 {
    margin-right: 24px;
    width: 34px;
}
header .content .left h1 a {
    display: block;
}
header .content .left h1 a img {
    display: block;
    width: 100%;
}
header .content .middle { 
   
}

header .content .middle ul { 
    display: flex;
}

header .content .middle ul li { 
    margin-right: 10px;

}

header .content .middle ul li a { 

}

header .content .right { 

}

header .content .right ul { 
    display: flex;
    align-items: center;
}

header .content .right ul li:first-child { 
    margin-right: 20px;

}

header .content .right ul li form { 
    display: flex;
    align-items: center;
}

header .content .right ul li form label { 
    width: 15px;
}
header .content .right ul li form input[type="search"] {
    padding: 0 0 0 8px;
}
header .content .right ul li form input[type="search"]::placeholder {
    color: #000;
}

header .content .right ul li form label img { 
    display: block;
    width: 100%;

}

header .content .right ul li form #search { 
    width: 70px;
    color: black;

}

header .content .right ul li .delete { 
    background: #f3643f;
    padding: 5px;
}

header .content .right ul li .delete a { 
   width: 18px;
   display: block;
   
}

header .content .right ul li .delete a img { 
    display: block;
    width: 100%;
}