* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
    font-family: 'BarlowCondensed-Regular';
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-weight: 400;
    font-family: 'BarlowCondensed-Regular';
}

a{
	color: #1C2C40;
    font-family: 'BarlowCondensed-Regular';

}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-weight: 400;
    font-family: 'BarlowCondensed-Regular';
}
.hidden{
	display: none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1300px;
}
@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url('../fonts/BarlowCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BarlowCondensed-Medium';
    src: url('../fonts/BarlowCondensed-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: url('../fonts/BarlowCondensed-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BarlowCondensed-SemiBold';
    src: url('../fonts/BarlowCondensed-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


header { 
    padding: 20px 0;
    border-bottom: 1px solid #cccbcb;
}

header .content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .content div.left { 
    display: flex;
    align-items: center;
}

header .content .left { 
    display: block;
    width: 100%;
}
header .content .left h1 {
    margin-right: 24px;
    width: 34px;
}
header .content .left h1 a {
    display: block;
}
header .content .left h1 a img {
    display: block;
    width: 100%;
}
header .content .middle { 
   
}

header .content .middle ul { 
    display: flex;
}

header .content .middle ul li { 
    margin-right: 15px;
    font-size: 14px;
}

header .content .middle ul li a { 
    font-family: 'BarlowCondensed-SemiBold';
}

header .content .right { 

}

header .content .right ul { 
    display: flex;
    align-items: center;
}

header .content .right ul li:first-child { 
    margin-right: 20px;

}

header .content .right ul li form { 
    display: flex;
    align-items: center;
}

header .content .right ul li form label { 
    width: 15px;
}
header .content .right ul li form input[type="search"] {
    padding: 0 0 0 8px;
}
header .content .right ul li form input[type="search"]::placeholder {
    color: #000;
    font-family: 'BarlowCondensed-SemiBold';
}

header .content .right ul li form label img { 
    display: block;
    width: 100%;

}

header .content .right ul li form #search { 
    width: 70px;
    color: black;

}

header .content .right ul li .delete { 
    background: #f3643f;
    padding: 5px;
}

header .content .right ul li .delete a { 
   width: 18px;
   display: block;
   
}

header .content .right ul li .delete a img { 
    display: block;
    width: 100%;
}
#spotlight { 
    padding: 100px 0 50px;
}

#spotlight section.container { 
    display: flex;
    padding-bottom: 90px;
}

#spotlight section.container div.left { 
    padding:15px 15px 0 0;
}

#spotlight section.container div.left h5 { 
    color: #f3643f;
    font-family: 'BarlowCondensed-SemiBold';
    font-size: 15px;
    letter-spacing: 0.2em;
}

#spotlight section.container div.left h1 { 
    font-size: 72px;
    font-weight: 600;
    width: 485px;
    padding-top: 25px;
}

#spotlight section.container div.left p { 
    font-size: 14px;
    font-weight: 500;
    width: 326px;
    color: #797576;
    padding-top: 25px;
    line-height: 1.2em;
    padding-bottom: 45px;
    
}

#spotlight section.container div.left a.button { 
    border: 1px solid #f3643f;
    letter-spacing: 0.1em;
    padding: 5px 25px;
    color: #ffff;
    background: #f3643f;
}

#spotlight section.container div.right { 

}

#spotlight section.container div.right ul { 
    display: flex;
    justify-content: end;
   
}

#spotlight section.container div.right ul li { 
    width: 26%;
    margin-left: 25px;
}

#spotlight section.container div.right ul li:first-child{ 
    margin-left: 0px;

}
#spotlight section.container div.right ul li img { 
    display: block;
    width: 100%;
    box-shadow: -10px 10px #f3643f;
  
}
#main {
    background: #f9f9f9;
}

#main section.container{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

#main section.container div.left{
    margin-left: 110px;
    margin-top: 40px;
   
}
#main section.container div.left h3{
    position: relative;
    color: #f3643f;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;   
}
#main section.container div.left h3 div.box {

    width: 22px;
    height: 40px;
    border: 2px solid #000;
    position: absolute;
    top: -10px;
    left: 6px;
}
#main section.container div.left h1 { 
    width: 62%;
    font-size: 48px;
    font-weight: 600;
}

#main section.container div.left p { 
    margin-top: 20px;
    margin-bottom: 20px;
    color: #797576;
    font-size: 14px;
    letter-spacing: 0.1em;
    width: 85%;
}

#main section.container div.left p b{
    color: #f3643f;
}

#main section.container div.left div.future { 
    width: 75%;
}

#main section.container div.left div.future div.vision { 
    background: #ffff;
    display: flex;
    margin-bottom: 20px;
}

#main section.container div.left div.future div.vision div.img { 
    width: 12%;
    margin: 15px 15px;
}

#main section.container div.left div.future div.vision div.img img { 
    display: block;
    width: 100%;
   
}

#main section.container div.left div.future div.vision div.item h3 { 
    color: #000;
    margin: 8px 0 0 0;
}

#main section.container div.left div.future div.vision div.item p { 
    color: #797576;
    margin: 5px 0 0 0;
    line-height: 1.2em;
    margin-bottom: 10px;
    
}

#main section.container div.left div.future div.vision p b { 
    color: #f3643f;
}

#main section.container div.left div.future div.mission { 
    background: #ffff;
    display: flex;
    margin-bottom: 20px;
}

#main section.container div.left div.future div.mission div.img { 
    width: 12%;
    margin: 15px 15px;
}

#main section.container div.left div.future div.mission div.img img { 
    display: block;
    width: 100%;
}

#main section.container div.left div.future div.mission div.item h3 { 
    color: #000;
    margin: 8px 0 0 0;
}

#main section.container div.left div.future div.mission div.item p { 
    color: #797576;
    margin: 5px 0 0 0;
    line-height: 1.2em;
    margin-bottom: 10px;
}

#main section.container div.left div.future div.mission p b { 
    color: #f3643f;
}

#main section.container div.right { 
   position: relative;
   width: 40%;
}

#main section.container div.right div.img { 
    width: 80%;
}

#main section.container div.right div.img img { 
    display: block;
    width: 100%;
}

#main section.container div.right div.experiance { 
    position: absolute;
    bottom: 0px;
    width: 80%;
    background: #12192c; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main section.container div.right div.experiance h1 { 
    color: #f3643f;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-right: 10px;
}

#main section.container div.right div.experiance p { 
    color: #ffff;
    letter-spacing: 0.2em;
    font-size: 15px;
    width: 72px;
    line-height: 1.8em;
}

#service { 

}

#service section.container { 
    padding: 100px 0;
}

#service section.container div.top { 
    text-align: center;
}

#service section.container div.top h3 { 
    position: relative;
    color: #f3643f;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;  
}

#service section.container div.top h3 div.box { 
    width: 22px;
    height: 40px;
    border: 2px solid #000;
    position: absolute;
    top: -10px;
    left: 614px;
}

#service section.container div.top h1 { 
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px; 
    
}

#service section.container div.top p { 
    font-size: 12px;
    color: #797576;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.1em;
    margin-bottom: 60px;
}

#service section.container div.bottom { 
   
}

#service section.container div.bottom ul { 
    display: flex;
    justify-content: space-between;
}

#service section.container div.bottom ul li { 
    width: 30%;
    padding-bottom: 30px;
    border-bottom: 3.5px solid #000;
}

#service section.container div.bottom ul li div.image1{ 
    background-image: url(../Assets/pexels-anna-shvets-5711703.jpg);
    background-repeat: no-repeat;
    background-position: 0px -110px;
    background-size: 375px;
    height: 225px;
    width: 100%;
}

#service section.container div.bottom ul li div.image1 div.svg{
    background: #f9f9f9;
    display: inline-block;
    margin-top: 178px;
    margin-left: 281px;
    border-bottom: 1px solid #000;
    width: 60px;
}

#service section.container div.bottom ul li div.margin{
    margin-left: 12px;
}

#service section.container div.bottom ul li div.image1 div.svg img{
    width: 100%;
    display: block;
    padding: 10px;
}

#service section.container div.bottom ul li div.image2{
    background-image: url(../Assets/pexels-anna-shvets-5710745.jpg);
    background-repeat: no-repeat;
    background-position: 0px -275px;
    background-size: 375px;
    height: 225px;
    width: 100%
}

#service section.container div.bottom ul li div.image2 div.svg{
    background: #f9f9f9;
    display: inline-block;
    margin-top: 178px;
    margin-left: 281px;
    border-bottom: 1px solid #000;
    width: 60px;
}

#service section.container div.bottom ul li div.image2 div.svg img{
    width: 100%;
    display: block;
    padding: 10px;
}

#service section.container div.bottom ul li div.image3{
    background-image: url(../Assets/pexels-anna-shvets-5711220.jpg);
    background-repeat: no-repeat;
    background-position: -10px -205px;
    background-size: 375px;
    height: 225px;
    width: 100%;
}

#service section.container div.bottom ul li div.image3 div.svg{
    background: #f9f9f9;
    display: inline-block;
    margin-top: 178px;
    margin-left: 275px;
    border-bottom: 1px solid #000;
    width: 60px;
}

#service section.container div.bottom ul li div.image3 div.svg img{
    width: 100%;
    display: block;
    padding: 10px;
}

#service section.container div.bottom ul li h3 { 
    color: #f3643f;
    margin-top: 30px;
    letter-spacing: 0.2em;
    font-size: 15px;
}

#service section.container div.bottom ul li h2 { 
    color: #000;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

#service section.container div.bottom ul li p { 
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    letter-spacing: 0.1em;
    color: #797576;
    margin-bottom: 20px;
}

#service section.container div.bottom ul li a.buttom { 
    border: 1px solid #f3643f;
    background: #f3643f;
    color: #ffff;
    letter-spacing: 0.1em;
    padding: 5px 15px;
}